<nav class="mb-5"><!--magin botton-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Categorias</li>
    </ol>

</nav>

<div class="row mb-4">
  <div class="col-md"><!--largura suficiente para o componente dentro dele-->
    <h1 class="h2 border-left pl-2"><!--PL padding left-->
      Categorias
    </h1>
  </div>

  <div class="col-md">
    <a routerLink="new" class="btn btn-success float-right">
      + Nova Categoria
    </a>
  </div>
</div>




<table class="table table-hover">
  <thead>
    <tr class="bg-primary text-light">
        <th scope="col">Categoria</th>
        <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of categories">
      <td>
        <strong>{{c.name}}</strong><br>
        <small>{{c.description}}</small>
      </td>

      <td>
        <a [routerLink]="[c.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteCategory(c)" class="btn btn-outline-danger btn-sm">Excluir</button>


      </td>
    </tr>


  </tbody>
</table>
